.btn-add{
    background-color:transparent;
    border-style:none;
}

.App-tel{
    width: 510px;
    height: 300px;
    margin-right: 100px;
}

.App-cor{
    width: 500px;
    margin-left: 100px;
}


.App-dir{
    margin-left: 72px;
}
.container-comp{
    margin-left: 72px;
}

.boxgrid-a{
    height: 90%;
    width: 800px;
}

