
// .modal-dialog{
//     margin-left: 20px !important;
//     margin-top: 40px !important;
//     margin-bottom: 0px !important;
// }

// .modal-content{
//     width: 2000px;
//     height: 970px !important;
// }


 .boxgrid-mod{
    width: 1057px!important;
    height: 500px;
    margin-left: 0px !important;
    
}



// .search-container-mod{
//     margin-left: 20px;
//     margin-top: 10px;
// }