/* CONTENEDOR TOTAL DEL CREATE*/

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@include textfield.core-styles;




.container-TOTAL{
    margin-left: 290px;
    margin-top: 100px;
    width: 84%;
    height: 90%;
}



/*MODAL HEADER*/
.modal-content{
width: 1000px;
display: flex-box;
justify-content: center;
}

.modal-header{
padding: 0,10px,0,0;

}

.title-modal
{ 
    font-size: 23px;
    display: flexbox;
    margin-left: 400px;
   
}

/* MODAL HEADER DESACTIVATE*/

.modal-title1{
    text-align: center;
    font-size: 25px;
    margin-left: 150px;
}

/*MODAL BODY*/
.Containers-Row .container .group-form
{
 margin-left: 10px;
 margin-bottom: 50px;
 display: inline-block;

 
 
}

.Containers-Row row row-cols-md-4{
    margin-left:  0px;
    padding: 0px;
    width: 20%;
    

}

 .Pane-Control
{
    margin-top: 100px;
    margin-left: 400px;
    width: 60%;
    height: 60px;
    margin-bottom: 40px;
    box-shadow:
    inset 
    0 0 0 1px white,
    0.1em 0.1em 0.5em rgba(36, 36, 36, 0.6);
}

.btn_footer {
    background-color: #0f62fe;
    color: white;
    height: 40px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: none;
    vertical-align: super;

  }
.btn_footer .create-log, .cancel-log{
   
        vertical-align: middle;   
}
.btn_cancel{
    vertical-align: middle;   
}

/// FIN DEL LOS BOTONES 


// PANEL DE USUARIO 
.Panel-User
{
    margin-top: 10px;
    margin-left: 263px;
    width: 82%;
    height: 70px;
    margin-bottom: 40px;
    box-shadow:
    inset 
    0 0 0 1px white,
    0.1em 0.1em 0.5em rgba(36, 36, 36, 0.6);

    display: flex;
    justify-items: flex-end;
}
// FIN DEL PANEL DE USUARIO
.Panel-User .group-user{
    width: 120px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}



// CONTENEDOR DE LOS CONTENEDORES {
.Containers-stacks2{
    width: 90%;
}
//}

// CONTENEDORES NUEVOS 

.Containers-Stack {
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #C7C7C7;
    border-style: 2px solid;
}
.Containers-Stack .Containers-Item {
    width: 300px;
    height: 100%;
    align-items: center;
}

.Containers-Stack .Containers-Item .group-form{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Containers-Stack .Containers-Item .select-form{
    margin-top: 0px;
    margin-bottom: 20px;
}


.Containers-Stack .Containers-Item .datepicker{
    margin-top: 0px;
    margin-bottom: 20px;
}
/// FIN DE LOS CONTENEDORES 




.group-form .labels
{
    color:#7F7F7F;
    /* font-weight: 600; */
    font-family: 'Barlow', sans-serif;
    font-family: 'IM Fell English SC', serif;
    font-family: 'Open Sans', sans-serif;
    /* font-style: italic; */

}

.labels-title{

    color:#C7C7C7;
    font-weight: 600; 
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.group-form .form-control
{  
    border-color: #C7C7C7;
    border-style: 2px solid;
    border-radius: 5px;
 
}

.group-form .select-form{
    width: 100%;
}

.group-form .datepicker{
    height: 100px;
}
.group-form .form_dir
{  
    
    border-color: #C7C7C7;
    border-style: 2px solid;
    border-radius: 5px;
    width: 482px;

    
 
}

.group-form .select-form{
    border-color: #C7C7C7;
    border-style: 2px solid;
    border-radius: 5px;
    height: 35px;
    
}
.group-form .datepicker{
    border-color: #C7C7C7;
    border-style: 2px solid;
    border-radius: 5px;
    width: 225px;
    height: 35px;
}

.linea{
    border-top: 1px solid rgb(224, 223, 223);
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
    
}

.body-msg{
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    
}

/*CONTORNO*/

.error {
    border-color: red;
  }


/*MODAL FOOTER*/
.modal-footer .btn_footer, .btn_desactivate{

    background-color:#0B6087;
    border-color:#0B6087;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    /*font-weight: 600;*/
    font-family: 'Open Sans', sans-serif;
   /* font-style: italic;*/
}
.modal-footer .btn_footer:hover ,.btn_desactivate:hover{
    background-color: #6CCB6B;
}


.error{
    font-size: 12px;    
    color: #FF034B;    
    margin-top: 1px;    
    }

.scale-up-center{animation:scale-up-center 1s; }
@keyframes scale-up-center{ 0%{transform:scale(.5)} 100%
{transform:scale(1)} }

.iconSuccess, .bodymsg{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.swal2-confirm{
    width: 60px;
    height:40px;
    text-align: center;
}

.swal2-confirm.swal2-styled.swal2-default-outline{
    width: 100px;
}

.swal2-cancel.swal2-styled.swal2-default-outline{
    width: 100px; 
    height:40px;
}

/* Estilos para Text Fields */
.mdc-text-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .mdc-text-field.mdc-text-field--invalid .mdc-text-field__input {
    border-color: red; /* Color del borde cuando hay errores */
  }
  
  .mdc-text-field__ripple {
    background-color: transparent;
  }
  
  .mdc-floating-label {
    color: #7F7F7F;
    font-weight: 600;
  }
  
  .mdc-text-field__input {
    border-color: #C7C7C7;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
  }
  
  .mdc-line-ripple {
    border-top: 1px solid rgb(224, 223, 223);
    height: 2px;
    margin: 20px auto 0 auto;
  }
  
  /* Estilos para selects */
  .mdc-text-field select {
    width: 100%;
    height: 35px;
  }
  
  /* Estilos para datepicker */
  .mdc-text-field .datepicker {
    width: 100%;
    height: 35px;
  }
  
  /* Estilos para etiquetas de error */
  .mdc-text-field-helper-text--validation-msg {
    font-size: 12px;
    color: #FF034B;
    margin-top: 1px;
  }
  
