/* CONTENEDOR TOTAL DEL CREATE*/

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@include textfield.core-styles;

body {
    height: 100vh;
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
} 

.formulario {
    background-color: rgb(255, 255, 255);
    height: 80vh !important; 
    width: 100hv;
    margin-left: 250px;
    z-index: 0;
}

.icon{
    align-items: center;
}

/* Panel de usuario y otros estilos relacionados */
.Panel-User {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5.5% !important;
    width: 80.3% !important; /* Igualar el ancho al de Containers-stacks2 */
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #fffcfc;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
}

/* Ajustes de estilo para pantallas más pequeñas */
@media (max-width: 768px) {
    .formulario {
        width: 100%; /* Cambiado a porcentaje para ser responsive */
        margin-left: 0;
    }
    
    .Panel-User {
        margin-left: 5%; /* Cambiado a porcentaje para ser responsive */
        width: 90%; /* Cambiado a porcentaje para ser responsive */
    }
}





.Panel-User .user-info-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.Panel-User .user-info-container h1 {
    margin-right: 850px; 
    font-size: 20px;
}

// FIN DEL PANEL DE USUARIO
.Panel-User .group-user{
    width: 120px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

   
}

.Panel-User .user-info-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-left: 10px;
}

.Panel-User .user-info-container h1 {
    font-size: 20px;
    margin-right: 0; 
}

.Panel-User .user-info-container h1.title-user {
    margin-right: 0;
    margin-top: 10px;
}

.Panel-User .user-info-container h1.title-newuser {
    margin-top: 2px; 
    font-size: 15px;
}




// CONTENEDOR DE LOS CONTENEDORES {
.Containers-stacks2{
    width: 82.5%;
    height: 600px;
    display: flex;
    margin-left: 73px !important;
}


//}

// CONTENEDORES NUEVOS 

.Containers-Stack {
    width: 500px;
    height: 670px; 
    background-color: #fffcfc;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #000000;
    border-style: 2px solid;
}

.Containers-stacks2 .Containers-Stack {
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-left: 20px;
    margin-right:20px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
}


.Containers-Stack .Containers-Stack  {
    width: 500px;
    height: 100%;
    align-items: center !important;
    flex-grow: 1; 
    border-color: #000000;
    border-style: 2px solid;
    
}

.Containers-Stack .Containers-Item .group-form{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    font-size: small;
    /*background-color:#e7f5f9 !important;*/
   
}


.Containers-Stack .Containers-Item .group-form .select-form{
    margin-top: 0px;
    margin-bottom: 20px;
    width: 350px;
    
}


.Containers-Stack .Containers-Item .datepicker{
    margin-top: 0px;
    margin-bottom: 20px;
    width: 350px;
}
.Containers-Stack .Containers-Item  .title-stack
{
    display: flex;
    align-items:start;
    font-weight: 500;
}



// contenedor OBJ 

.container-obj {
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-left: 85px;
    margin-right:20px;
    margin-top : 20px;
    width: 1328px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
}
.container-obj  .title-stack
{
    display: flex;
    align-items:start;
    font-weight: 500;
    margin-bottom: 10px;
}


.container-obj .group-form .stack-2 .select-form{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 350px;
    margin-right: 10px;
    
}

.container-obj .group-form{
  
    margin-bottom: 10px;
    width: 350px;
    font-size: small;
    margin-left: 10px;
    /*background-color:#e7f5f9 !important;*/
   
}

/// FIN DE LOS CONTENEDORES 


 // regla de contenedores offf

.css-ycrhu6-MuiStack-root > :not(style) ~ :not(style) {
    margin-left: 0 !important; }
 // fin regla de contenedores offf


.group-form .labels
{
    color:#7F7F7F;
    /* font-weight: 600; */
    font-family: 'Barlow', sans-serif;
    font-family: 'IM Fell English SC', serif;
    font-family: 'Open Sans', sans-serif;
    /* font-style: italic; */

}


.Containers-Stack .Containers-Item  .select-form{
    border-color: #C7C7C7;
    border-style: 2px solid;
    border-radius: 5px;
    height: 35px;
    width: 220px;
    
}
.group-form .datepicker{
    border-color: #C7C7C7;
    border-style: 2px solid;
    border-radius: 5px;
    width: 220px;
    height: 35px;
}




// CONTENEDORES JURIDICO 

// CONTENEDOR DE LOS CONTENEDORES {
    .Containers-stacks2-jud{
        width: 82.5%;
        height: 600px;
        display: flex;
        margin-left: 100px;
        padding-left: 250px;
    }
    
    
    //}
    
    // CONTENEDORES NUEVOS 
    
    .Containers-Stack-jud {
        width: 500px; 
        background-color: #fffcfc;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        border-color: #000000;
        border-style: 2px solid;
    }
    
    .Containers-stacks2-jud .Containers-Stack-jud {
        border: 1px solid #ccc; 
        padding: 10px; 
        margin-left: 20px;
        margin-right:20px;
        width: 450px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
    }
    
    
    .Containers-Stack-jud .Containers-Stack-jud  {
        width: 500px;
        height: 100%;
        align-items: center !important;
        flex-grow: 1; 
        border-color: #000000;
        border-style: 2px solid;
        
    }
    
    .Containers-Stack-jud .Containers-Item-jud .group-form{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 350px;
        font-size: small;
    }
    
    .Containers-Stack-jud .Containers-Item-jud .group-form .select-form{
        margin-top: 0px;
        margin-bottom: 20px;
        width: 350px;
    }
    
    
    .Containers-Stack-jud .Containers-Item-jud .datepicker{
        margin-top: 0px;
        margin-bottom: 20px;
        width: 350px;
    }
    .Containers-Stack-jud .Containers-Item-jud  .title-stack
    {
        display: flex;
        align-items:start;
        font-weight: 500;
    }
    
    
    .btn-export{
        background-color:transparent;
        color:#000000;
        border-style:none;
    }
  .border{

    border-style:none;
    border-color:transparent;
  }
    
    /// FIN DE LOS CONTENEDORES 
    
    
     // regla de contenedores offf
    
    .css-ycrhu6-MuiStack-root > :not(style) ~ :not(style) {
        margin-left: 0 !important; }
     // fin regla de contenedores offf
    
    
    .group-form .labels
    {
        color:#7F7F7F;
        /* font-weight: 600; */
        font-family: 'Barlow', sans-serif;
        font-family: 'IM Fell English SC', serif;
        font-family: 'Open Sans', sans-serif;
        /* font-style: italic; */
    
    }
    
    
    .Containers-Stack-jud .Containers-Item-jud  .select-form{
        border-color: #C7C7C7;
        border-style: 2px solid;
        border-radius: 5px;
        height: 35px;
        width: 220px;
        
    }
    .group-form .datepicker{
        border-color: #C7C7C7;
        border-style: 2px solid;
        border-radius: 5px;
        width: 220px;
        height: 35px;
    }
    
    ////////////////////////////////////////////////////////////////////////////////////////////////////////
    /// CONTAINTERS CREATE REGISTER 
    /// 
    /// 
    /// 
    /// 
    .formulario-cr {
        background-color: rgb(255, 255, 255);
        height: 50vh !important; 
        width: 100hv;
        margin-left: 250px;
        z-index: 0;
        margin-bottom: 20px !important;
    }
    .Containers-stacks-3{
        width: 82.5%;
        height: 350px !important;
        display: flex;
        margin-left: 73px !important;
    }
    
    .Containers-stacks-3 .Containers-Stack-in {
        border: 1px solid #ccc; 
        padding: 10px; 
        margin-left: 20px;
        margin-right:20px;
        width: 450px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
    }
    .Containers-Stack-in {
        width: 500px;
        height: 350px; 
        background-color: #fffcfc;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        border-color: #000000;
        border-style: 2px solid;
    }

    .Containers-Stack-in .Containers-Item  .select-form{
        border-color: #C7C7C7;
        border-style: 2px solid;
        border-radius: 5px;
        height: 35px;
        width: 220px;
        
    }

    .Containers-Stack-in .Containers-Item .group-form{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 350px;
        font-size: small;
        /*background-color:#e7f5f9 !important;*/
       
    }
    
    
    .Containers-Stack-in .Containers-Item .group-form .select-form{
        margin-top: 0px;
        margin-bottom: 20px;
        width: 350px;
        
    }
    
    
    .Containers-Stack-in .Containers-Item .datepicker{
        margin-top: 0px;
        margin-bottom: 20px;
        width: 350px;
    }
    .Containers-Stack-in .Containers-Item  .title-stack
    {
        display: flex;
        align-items:start;
        font-weight: 500;
    }
    


    .Containers-stacks-contact {
        border: 1px solid #ccc; 
        padding: 10px; 
        margin-top: 12px;
        margin-left: 91px;
        margin-right:20px;
        height: 120px;
        width: 1393px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
    }
    .Containers-stacks-contact  .group-form .select-form{
        margin-top: 0px;
        margin-bottom: 20px;
        width: 300px;
        
    }

    .Containers-stacks-contact .group-form{
        margin-top: 15px;
        margin-bottom: 10px;
        width: 350px;
        font-size: small;
      
       
    }
    
