body {
    height: 100vh;
    margin: 0;
    /* Elimina el margen predeterminado del cuerpo */
}

.formulario {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100hv;
    margin-left: 250px;
    z-index: 0;
}

.a {
    color: transparent;
}

/* Panel de usuario y otros estilos relacionados */
.Panel-User {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // margin-left: 5%;
    // width: 80.2%; /* Igualar el ancho al de Containers-stacks2 */
    // height: 100px;
    // margin-top: 10px; 
    // margin-bottom: 20px;
    background-color: #fffcfc;
    // box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
}

.Panel-User .title-stack {
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    width: 100%;

}




.Panel-User .user-info-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.Panel-User .user-info-container h1 {
    margin-right: 850px;
    font-size: 20px;
}

/* FIN DEL PANEL DE USUARIO */
.Panel-User .group-user {
    width: 130px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;


}

.Panel-User .user-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.Panel-User .user-info-container h1 {
    font-size: 20px;
    margin-right: 0;
}

.Panel-User .user-info-container h1.title-user {
    margin-right: 0;
    margin-top: 10px;
}

.Panel-User .user-info-container h1.title-newuser {
    margin-top: 2px;
    font-size: 15px;
}




/* CONTENEDOR DE LOS CONTENEDORES*/
.Containers-stacks2 {
    width: 82.5%;
    height: 790px;
    display: flex;
    margin-left: 65px;
}




/* CONTENEDORES NUEVOS */

.Containers-Stack {
    width: 500px;
    background-color: #fffcfc;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #000000;
    border-style: 2px solid;
}

.Containers-stacks2 .Containers-Stack {
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
}


.Containers-Stack .Containers-Stack {
    width: 500px;
    height: 100%;
    align-items: center !important;
    flex-grow: 1;
    border-color: #000000;
    border-style: 2px solid;

}

.Containers-Stack .Containers-Item .group-form {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    font-size: small;

}

.Containers-Stack .Containers-Item .group-form-des {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 1000px !important;


}


.Containers-Stack .Containers-Item .group-form .datepolicy {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    font-size: small;
    background-color: #000000;

}


.Containers-Stack .Containers-Item .group-form .select-form {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 350px;

}


.Containers-Stack .Containers-Item .datepicker {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 350px;
}

.Containers-Stack .Containers-Item .title-stack {
    display: flex;
    align-items: start;
    font-weight: 500;
}

/* Ejemplo de cómo quitar el color de fondo de los campos */
.group-form,
.select-form,
.datepicker {
    background-color: transparent !important;
    /* Establecer el fondo como transparente */
    /* Otros estilos de los campos */
}


/* FIN DE LOS CONTENEDORES */


/* regla de contenedores offf */

.css-ycrhu6-MuiStack-root> :not(style)~ :not(style) {
    margin-left: 0 !important;
}

/* fin regla de contenedores offf */


.group-form .labels {
    color: #7F7F7F;
    /* font-weight: 600; */
    font-family: 'Barlow', sans-serif;
    font-family: 'IM Fell English SC', serif;
    font-family: 'Open Sans', sans-serif;
    /* font-style: italic; */

}


.Containers-Stack .Containers-Item .select-form {
    border-color: #C7C7C7;
    border-style: 2px solid;
    border-radius: 5px;
    height: 35px;
    width: 220px;

}

.group-form .datepicker {
    border-color: #C7C7C7;
    border-style: 2px solid;
    border-radius: 5px;
    width: 220px;
    height: 35px;
}




/* CONTENEDORES JURIDICO */


/* CONTENEDORES NUEVOS */

.Containers-Stack-jud {
    width: 500px;
    background-color: #fffcfc;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #000000;
    border-style: 2px solid;
}

.Containers-stacks2-jud .Containers-Stack-jud {
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
}


.Containers-Stack-jud .Containers-Stack-jud {
    width: 500px;
    height: 100%;
    align-items: center !important;
    flex-grow: 1;
    border-color: #000000;
    border-style: 2px solid;

}

.Containers-Stack-jud .Containers-Item-jud .group-form {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    font-size: small;
}

.Containers-Stack-jud .Containers-Item-jud .group-form .select-form {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 350px;
}


.Containers-Stack-jud .Containers-Item-jud .datepicker {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 350px;
}

.Containers-Stack-jud .Containers-Item-jud .title-stack {
    display: flex;
    align-items: start;
    font-weight: 500;
}



/* FIN DE LOS CONTENEDORES */


/* regla de contenedores offf */

.css-ycrhu6-MuiStack-root> :not(style)~ :not(style) {
    margin-left: 0 !important;
}

/* fin regla de contenedores offf */


.group-form .labels {
    color: #7F7F7F;
    /* font-weight: 600; */
    font-family: 'Barlow', sans-serif;
    font-family: 'IM Fell English SC', serif;
    font-family: 'Open Sans', sans-serif;
    /* font-style: italic; */

}


.Containers-Stack-jud .Containers-Item-jud .select-form {
    border-color: #C7C7C7;
    border-style: 2px solid;
    border-radius: 5px;
    height: 35px;
    width: 220px;

}

.group-form .datepicker {
    border-color: #C7C7C7;
    border-style: 2px solid;
    border-radius: 5px;
    width: 220px;
    height: 35px;
}